#housing
{
	flex-direction: column;
}

#countryHousing
{
	width: auto;
}

#countryHousingRow1, #countryHousingRow2
{
	margin-top: 15px;
	margin-bottom: 15px;
}

#popular
{
	width: auto;
	margin-left: auto;
	margin-top: 30px;
}

#popularContent
{
	flex-direction: row;
	justify-content: space-between;
}

.card1
{
	flex: 0 0 31%;
}

.card1 h3
{
	font-size: 16px;
}

.card1 p
{
	font-size: 14px;
}

.card2 h3
{
	font-size: 13px;
}