#row2{
  flex-direction: column-reverse;
}

#popular {
  width: auto;
  margin:0px;
}
#popularContent {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card1{
  width: 45%;
}
.card1Content h3 {
  font-size: 16px;
}

.card1Content p {
  font-size: 14px;
}

#countryHousing{
  width: auto;
  background: white;
  border-radius: 0px;
  min-width: 0;
  padding:0px;
}

#countryHousing h2{
margin-top: 30px;
margin-bottom: 20px;
}

#countryHousingRow1, #countryHousingRow2{
  margin-bottom:20px;
}

#countryActivitiesContent{
  flex-direction: column;
  height:auto;
}

.columnActivities{
  width:100%;
}

.columnActivities__padding{
  padding-right:0px;
  padding-bottom: 40px;
  flex-direction: row-reverse;
}
