svg{
  position: absolute;
  height:80px;
  left: 20px;
}
nav{
  height:auto;
}
.navWidth{
  height: auto;
}
.navContent{
  width:100%;
  flex-wrap: wrap-reverse;
  position:inherit;
}
.navContent--informations{
  width:100%;
}
.navContent--inscription{
  position:absolute;
  right: 0;
  height:80px;
}
.navContent--informations__housing, .navContent--informations__activities{
  width:50%;
  align-items: flex-end;
}
.navContent--informations__activities {
  border-bottom: 3px solid blue;
}

#content{
  width:auto;
  margin: auto;
}

#description{
  width:90%;
  margin:auto;
  margin-top:30px;
}

#searchIconLoc{
  flex: 0 0 45px;
}

#form input[type=text]{
  flex: 1 1 auto;
}

#searchBtn{
  display:block;
  border:none;
  background: #0065FC;
  color: white;
  font-size:16px;
  font-weight: bold;
  padding-left:15px;
  padding-right:15px;
  border-radius:12px;
  max-width: 45px;
  margin-left: -12px;
}

#searchBtn--text{
  display: none;
}

#searchBtn--icon{
  display: block;
}

.filter, #filters h5 {
  margin-bottom: 10px;
  font-size:14px;
}
#filters h5{
  display: block;
}

.filterIcon{
  height:40px;
  width: 40px;
}
.filter{
  height:40px;
  border-radius:60px;
}

.filter p{
  line-height: 40px;
  padding-left: 52px;
}
#numberInformation{
  width: 90%;
  margin: auto;
  margin-bottom:15px;
}

#row2{
  flex-direction: column-reverse;
}

#countryHousing{
  width: auto;
  background: white;
  border-radius: 0px;
  min-width: 0;
}
#countryHousing h2{
  font-size: 21px;
  margin-top: 20px;

}
#popular{
  border-radius: 0px;
  margin-left: 0px;
  width: 100%;
  padding-left: 0;
  padding-right:0;
}
#popularHeader{
  padding-left: 20px;
  padding-right:20px;
  margin-bottom:15px;
}
#popularHeader h2{
  font-size:21px;
}

#popularContent{
  padding-left:20px;
  padding-right:20px;
}

#search{
  margin:0px;
  padding-left: 20px;
  padding-right: 20px;
}

#countryHousing {
  padding:20px;
}
#countryHousingRow1, #countryHousingRow2{
  flex-direction: column;
}

.card1{
  height: 145px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
}

.card1 img{
  width: 145px;
}

.card1Content h3, .card1Content p{
  font-size: 15px;
}
.card1Content p {
  font-size: 13px;
}

#stars{
  font-size: 11px;
}
.card {
  width: auto;
  height: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card img {
  height:115px;
}

#more{
  margin-top:20px;
}
#countryActivities{
  margin: 0px;
  padding: 20px;
}

#countryActivities h2{
  font-size: 21px;
}

#countryActivitiesContent{
  height: auto;
  flex-direction: column;
}
#countryActivitiesContent .column{
  width:auto;
}
.card2{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 190px;
}
.card2 .img{
  height:135px;
}
.card2 h3{
  font-size: 16px;
  line-height: 55px;
}

.columnActivities{
  width:auto;
  flex-direction: column;
  padding: 0px;
}
footer{
  padding:20px;
}
#contentFooter{
  flex-direction: column;
  margin:0px;
}
.ulFooter{
  width:100%;
  font-size:16px;
  padding:0;
}
